.ubox { 
width:350px; 
margin-top: -40px;
margin-bottom: 30px;
padding:30px;   
background:#ffffff;  
border-radius: 10px 10px 0px 0px; 
text-align:justify;  
line-height:200%;} 

.utext { 
font-family: 'Poppins', sans-serif;
color:#696969; 
font-size:14.5px; 
padding: 40px 20px 20px; } 

.uicon { 
-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,1,1)), to(rgba(0,0,0,0))); 
position:relative; 
z-index:1;
text-align:center; 
color: var(--ikona); 
font-size: var(--velikost); 
text-shadow: 2px 2px #ececec;}   

t { 
color: var(--govor);  
font-weight: bold;}  

.uelement {  
margin-top:20px; 
float: center; 
shape-outside: circle(50%);    }   

.udate {
font-family: 'Poppins', sans-serif;
text-align:center;
text-transform:uppercase;  
color:#ececec; 
font-weight:700; 
font-style:italic; 
font-size:40px; 
margin-top:-15px; } 

.ugifbottom { 
font-family: 'Poppins', sans-serif;
color:#696969; 
background-image: var(--ozadje); 
opacity:0.45;
width:370px; 
padding: 20px 20px 5px; 
margin-top: -30px;
font-size:13px; 
border-radius: 0px 0px 10px 10px; 
text-shadow: 1px 1px 1px #f2f2f2;}

 .class a.user-tagged { 
font-family: 'Poppins', sans-serif; 
font-style:bold; 
font-size:11px; 
padding: 5px 8px 5px;
border-radius: 40px 40px 40px 40px; 
color: #bdbdbd; 
background-color:#eeeeee; 
text-shadow: 0 0 8px #fffd;} 

.utagarea {
font-family: 'Poppins', sans-serif; 
font-size:11px; 
padding: 0px 20px 0px; 
margin-bottom:-10px; 
text-align:left; 
line-height:270%;}





#freya { --govor: #95B7F2; --ikona: #315587; --ozadje: url(https://i.pinimg.com/originals/b8/9b/b3/b89bb307b9e35b5dde8e0f07d35ffa49.gif); --velikost: 90px; }
 
 #poppy { --govor: #ff8376; --ikona: #ff8376; --ozadje: url(https://i.ibb.co/mHkwx0J/ezgif-2-7cd626593953.gif); --velikost: 100px; } 
  
 #bea { --govor: #acd454; --ikona: #acd454; --ozadje: url(https://shrani.si/f/3q/ek/MVNZlFL/68747470733a2f2f73332e61.gif); --velikost: 90px; } 

#nora { --govor: #a879ae; --ikona: #a879ae; --ozadje: url(https://i.ibb.co/p3Jbvw9/noragif.gif);--velikost: 100px; } 

#avalon { --govor: #ff9427; --ikona: #ff9427; --ozadje: url(https://i.ibb.co/W0F6BXg/ezgif-3-b1b373c64a81.gif);--velikost: 100px; }

#atticus { --govor: #487886; --ikona: #487886; --ozadje: url(https://i.ibb.co/Lr1jKtH/ezgif-4-0215b3d2334e.gif);--velikost: 100px; } 

#odile { --govor: #bda762; --ikona: #bda762; --ozadje: url(https://i.ibb.co/mFHJxcD/odilegif.gif);--velikost: 100px; } 
