.ubox { 
width:380px;
margin-top: 80px;
margin-bottom: 30px;
padding:30px; 
background:#ffffff;  
border-radius: 10px 10px 0px 0px; 
background:#ffffff;  
text-align:justify;  
line-height:200%;} 

.utext { 
font-family: 'Poppins', sans-serif;
color:#696969; 
font-size:14.5px; 
padding: 20px 20px 28px; } 

.uicon { 
 margin-top:40px; 
float: center; 
-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,1,1)), to(rgba(0,0,0,0))); 
position:relative; 
z-index:1;
text-align:center; 
color: var(--ikona); 
font-size:90px; 
text-shadow: 2px 2px #ececec;}   

.t { 
color: var(--glavna);  
font-weight: bold;}  

.udate {
font-family: 'Poppins', sans-serif;
text-align:center;
text-transform:uppercase;  
color:#ececec; 
font-weight:700; 
font-style:italic; 
font-size:40px; 
margin-top:-15px; } 

.ugifbottom { 
font-family: 'Poppins', sans-serif;
color:#696969; 
background-image: var(--ozadje); 
opacity:0.45;width:380px; padding: 20px 20px 5px; 
margin-top: -30px;font-size:13px; 
border-radius: 0px 0px 10px 10px; 
text-shadow: 1px 1px 1px #f2f2f2;} 

.class a.user-tagged { 
font-family: 'Poppins', sans-serif; 
font-style:bold; 
font-size:11px; 
padding: 5px 8px 5px;
border-radius: 40px 40px 40px 40px; 
color: #bdbdbd; 
background-color:#eeeeee; 
text-shadow: 0 0 8px #fffd;} 

.utagarea {
font-family: 'Poppins', sans-serif; 
font-size:11px; 
padding: 0px 20px 0px; 
margin-bottom:-10px; 
text-align:left; 
line-height:270%;}
